.depot_form
  - if flash[:alert] || flash[:notice]
    %p#notice= flash[:alert] || flash[:notice]
<<<<<<< HEAD
=======

>>>>>>> 37ec9fad3749c8105f563bb14609dd20b417f156
  = form_tag do
    %fieldset
      %legend Please Log In
      %div
        = label_tag :name, 'Name:'
        = text_field_tag :name, params[:name]
      %div
        = label_tag :password, 'Password:'
        = password_field_tag :password, params[:password]
      %div
<<<<<<< HEAD
        = submit_tag "Login"
=======
        = submit_tag 'Login'
>>>>>>> 37ec9fad3749c8105f563bb14609dd20b417f156
